
.trendsContainer{
    background-color: #1B222D;
    padding: 10px;
    border-radius: 10px;
}
.itemTrend{
    padding: 10px;
    width : 90%;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 5px;
}
.itemTrend:hover{
    background-color: #272727;

}
.itemTrend span{
color: #979797;
}